{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ title }}</h2>

<h3>Пример расчета конфликтов##</h3>
<br><br>

<form class="calc_conflicts" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="calc_conflicts" id="controllers">
        <label class="calc_conflicts_controllers" id="testtt"> Тип ДК: </label>
        <input type="radio" value="undefind" name="controller_type" checked id="undefind"> Без типа
        <input type="radio" value="swarco" name="controller_type" id="swarco"> Swarco
        <input type="radio" value="peek" name="controller_type" id="peek"> Peek    
    </div>
    <br><br>

    <fieldset>
        <legend> Опции </legend>
        <div>           
            <input type="checkbox" name="create_txt" id="create_txt">
            <label class="calc_conflicts_optinos" for="create_txt"> Создать txt файл с конфликтами: </label>
        </div>
        <div>
            <input type="checkbox" name="binval_swarco" id="binval_swarco" disabled>
            <label class="calc_conflicts_optinos" for="binval_swarco"> Матрица конфликтов и бинарные значения фаз для swarco</label>            
        </div>
        <div>
            <input type="checkbox" name="make_config" id="make_config" disabled>
            <label class="calc_conflicts_optinos" for="make_config"> Создать файл конфигурации: </label>
            <input type="file" id="config_file" name="upload_config_file" multiple disabled>            
        </div>
    </fieldset>
    <br><br>
    <p> Фазы-направления </p>
    <textarea required rows="8" cols="20" minlength="4" maxlength="600" name="table_stages" id="stages_from_area"></textarea>
    <p></p>
    <button type="submit" id="send_conflicts_data"> Отправить </button>
</form>


{% comment %} Вывод данных после расчета конфликтов {% endcomment %}

{% if render_conflicts_data %}
{% for line in sorted_stages %}
<br> Фаза {{ forloop.counter }}: {{ line|join:", " }}
{% endfor %}

<br> Количество направлений: {{ kolichestvo_napr }}

<p></p>


<table border="1" bgcolor="#C0C0C0" cellpadding="8" cellspacing="4">
    {% for line in matrix %}
        {% if forloop.first%}
    <tr>
            {% for el in line %}
             <th>{{ el }}</th>
            {% endfor %}
    </tr>
        {% else %}
            <tr>
            {% for el in line %}
                {% if forloop.first %}
                    <td> <b> {{ el }} </b> </td>
                {% elif el == values.0 %}
                <td align="center"> <span style="color:red">{{ el }}</span> </td>
                {% elif el == values.1 %}
                <td align="center"> <span style="color:green">{{ el }}</span> </td>
                {% else %}
                        <td align="center">{{ el }}</td>
                {% endif %}
            {% endfor %}
                </tr>
        {% endif %}
    {% endfor %}
</table>
<br>

{% endif %}

{% comment %} Вывод матрицы конфликтов "интергрин" F997 {% endcomment %}

{% if add_conflicts_and_binval_calcConflicts %}

<b>Матрица конфликтов "интергрин" F997:</b>
<br>
{% for line in matrix_swarco_F997 %}
    {% for el in line %}
    {{ el }}
    {% endfor %}
<br>
{% endfor %}

{% comment %} Вывод матрицы физических конфликтов групп F992 {% endcomment %}
<b>Физические конфликты - номера конфликтных групп F992:</b>
<br>
{% for line in conflict_groups_F992 %}
    {% for el in line %}
    {{ el }}
    {% endfor %}
<br>
{% endfor %}

{% comment %} Вывод бинарных значений направлений для фаз F009 {% endcomment %}
<b>Сигнальные группы в фазах F009:</b>
<br>
{% for line in binary_val_swarco_F009 %}
    {% for el in line %}
    {{ el }}
    {% endfor %}
{% endfor %}
<br>

{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'toolkit/js/toolkit_conflicts.js'%}"></script>
{% endblock %}