{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="manage_snmp">{{ title }}</h1>

<table border="3">
        <tr>
                <td>
                        <label for="visible_hosts"> Количетво хостов </label>
                        <select id="visible_hosts">
                                {% for num_host in num_hosts %}
                                <option>{{ num_host }}</option>
                                {% endfor %}
                        </select>
                        <button id="display_hosts_snmp"> Отобразить </button>
                </td>
                
        </tr>
</table>


<br>


{% for num_host in num_hosts %}


<table id="table_{{num_host}}" border="1" bgcolor="pink" cellpadding="8" cellspacing="4" align="center" hidden="hidden">
        <caption align="right"> Хост {{ num_host }} </caption>
        <tr>
                <td>
                        {{ first_row_settings.label_settings }}
                </td>
                <td>    <label class="manage_snmp" for="ip_{{ num_host }}">IP-адресс</label>
                        <input type="text" name="ip" class="get_data_snmp" id="ip_{{ num_host }}" maxlength="15">
                </td> 
                
                <td>    <label class="manage_snmp" for="scn_{{ num_host }}">SCN</label>
                        <input type="text" name="scn" class="get_data_snmp" id="scn_{{ num_host }}" maxlength="15">
                </td>
                <td>
                        <label for="protocol_{{ num_host }}"> Протокол </label>
                        <select id="protocol_{{ num_host }}">
                                <option>Swarco_STCIP</option>
                                <option>Поток_STCIP</option>
                                <option>Поток_UG405</option>
                                <option>Peek_UG405</option>
                        </select>
                </td>

        </tr>
        <tr>    
                <td>
                        Информация с ДК 
                </td>
                <td>
                        <input type="checkbox" value="host_{{ num_host }}" id="getdatahost_{{ num_host }}">
                        <label for="getdatahost_{{ num_host }}"></label>Получать данные с ДК</input>
                        
                </td>
                <td colspan="2"><label id="datahost_{{ num_host }}">Данные с ДК</label></td>
                
        </tr>
        <tr>
                <td> Управление ДК </td>
                <td>    <select type="" value="host_{{ num_host }}" id="setdatahost_{{ num_host }}">
                        <option>Фаза</option>
                        </select>
                        <input placeholder="Значение фазы/команды" type="text" name="setval" class="set_value" id="setval_{{ num_host }}" maxlength="15">

                </td>
                <td><button class="set_value" id="SetToHost_{{ num_host }}"> Отправить </button></td>
        </tr>

</table>

{% endfor %}









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static 'toolkit/js/app.js'%}"></script>
{% endblock %}