{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="manage_snmp">{{ title }}</h1>

<fieldset>
<legend> Хост 1</legend>
<label for="ip_1">IP-адресс</label>
<input type="text" name="ip" class="get_data_snmp" id="ip_1" maxlength="15">
<label for="protocol_1">Протокол </label>
<select id="protocol_1">
    <option>Swarco_STCIP</option>
    <option>Поток_STCIP</option>
    <option>Поток_UG405</option>
    <option>Peek_UG405</option>
</select>
<label id="datahost_1">Данные с ДК</label>
<input type="checkbox" value="host_1" id="getdatahost_1"/>
<button class="btn1" id="SetToHost_1"> Отправить </button>
</fieldset>
<p></p>

<fieldset>
<legend class="legend"> Хост 2</legend>
<label for="ip_2">IP-адресс</label>
<input type="text" name="ip" class="get_data_snmp" id="ip_2" maxlength="15">
<label for="protocol_2">Протокол </label>
<select id="protocol_2">
        <option>Swarco_STCIP</option>
        <option>Поток_STCIP</option>
        <option>Поток_UG405</option>
        <option>Peek_UG405</option>
</select>
<label id="datahost_2">Данные с ДК</label>
<input type="checkbox" value="host_2" id="getdatahost_2"/>
<button class="btn2" id="SetToHost_2"> Отправить </button>
</fieldset>
<p></p>

<fieldset>
<legend> Хост 3</legend>
<label class="manage_snmp" for="ip_3">IP-адресс</label>
<input type="text" name="ip" class="get_data_snmp" id="ip_3" maxlength="15">
<label for="protocol_3">Протокол </label>
<select id="protocol_3">
        <option>Swarco_STCIP</option>
        <option>Поток_STCIP</option>
        <option>Поток_UG405</option>
        <option>Peek_UG405</option>
</select>
<label id="datahost_3">Данные с ДК</label>
<input type="checkbox" value="host_3" id="getdatahost_3"/>
<button class="btn3" id="SetToHost_3"> Отправить </button>
</fieldset>
<p></p>

<table border="1" bgcolor="pink" cellpadding="8" cellspacing="4">
        <caption align="right"> Хост 4 </caption>
        <tr>
                <td>
                        Настройки ДК
                </td>
                <td>    <label class="manage_snmp" for="ip_4">IP-адресс</label>
                        <input type="text" name="ip" class="get_data_snmp" id="ip_4" maxlength="15">
                </td> 
                
                <td>    <label class="manage_snmp" for="scn_4">SCN</label>
                        <input type="text" name="scn" class="get_data_snmp" id="scn_4" maxlength="15">
                </td>
                <td>
                        <label for="protocol_4">Протокол </label>
                        <select id="protocol_4">
                                <option>Swarco_STCIP</option>
                                <option>Поток_STCIP</option>
                                <option>Поток_UG405</option>
                                <option>Peek_UG405</option>
                        </select>
                </td>

        </tr>
        <tr>    
                <td>
                        Информация с ДК 
                </td>
                <td>
                        <input type="checkbox" value="host_4" id="getdatahost_4">
                        <label for="getdatahost_4"></label>Получать данные с ДК</input>
                        
                </td>
                <td colspan="2"><label id="datahost_4">Данные с ДК</label></td>
                
        </tr>
        <tr>
                <td> Управление ДК </td>
                <td>    <select type="" value="host_4" id="setdatahost_4">
                        <option>Фаза</option>
                        </select>
                        <input placeholder="Значение фазы/команды" type="text" name="setval" class="set_value" id="setval_4" maxlength="15">

                </td>
                <td><button class="set_value" id="SetToHost_4"> Отправить </button></td>
        </tr>



</table>




{% for num_host in num_hosts %}


<table border="1" bgcolor="pink" cellpadding="8" cellspacing="4">
        <caption align="right"> Хост {{ num_host }} </caption>
        <tr>
                <td>
                        {{ first_row_settings.label_settings }}
                </td>
                <td>    <label class="manage_snmp" for="ip_{{ num_host }}">IP-адресс</label>
                        <input type="text" name="ip" class="get_data_snmp" id="ip_{{ num_host }}" maxlength="15">
                </td> 
                
                <td>    <label class="manage_snmp" for="scn_{{ num_host }}">SCN</label>
                        <input type="text" name="scn" class="get_data_snmp" id="scn_{{ num_host }}" maxlength="15">
                </td>
                <td>
                        <label for="protocol_{{ num_host }}"> Протокол </label>
                        <select id="protocol_{{ num_host }}">
                                <option>Swarco_STCIP</option>
                                <option>Поток_STCIP</option>
                                <option>Поток_UG405</option>
                                <option>Peek_UG405</option>
                        </select>
                </td>

        </tr>
        <tr>    
                <td>
                        Информация с ДК 
                </td>
                <td>
                        <input type="checkbox" value="host_{{ num_host }}" id="getdatahost_{{ num_host }}">
                        <label for="getdatahost_{{ num_host }}"></label>Получать данные с ДК</input>
                        
                </td>
                <td colspan="2"><label id="datahost_{{ num_host }}">Данные с ДК</label></td>
                
        </tr>
        <tr>
                <td> Управление ДК </td>
                <td>    <select type="" value="host_{{ num_host }}" id="setdatahost_{{ num_host }}">
                        <option>Фаза</option>
                        </select>
                        <input placeholder="Значение фазы/команды" type="text" name="setval" class="set_value" id="setval_{{ num_host }}" maxlength="15">

                </td>
                <td><button class="set_value" id="SetToHost_{{ num_host }}"> Отправить </button></td>
        </tr>

</table>


{% endfor %}









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static 'toolkit/js/app.js'%}"></script>
{% endblock %}